//COLORS
$blue: darken(#7eb0d2, 30%);
$blue-grey: #586e75;
$red: #7c334f;
$light-red: #cd596b;
$pink: #e69b95;
$lightgrey: #ece4d8;
$white: #fff;
$background: #544943;
$light-background: #fff6e9;
$grey: #8b786f;
$light-taupe: #bdb6ad;

//FONTS
$georgia: normal normal 15px/1.5 Georgia, Palatino, ” Palatino Linotype”, Times, “Times New Roman”, serif;
$georgiaItalic: bold italic 12px/1 Georgia, Times, “Times New Roman”, serif;
$openSans: 'Open Sans', Myriad, Calibri, sans-serif;
$georgiaItalic: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
$lucida: normal normal .9em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
;

//MIXINS
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}