* {
  box-sizing: border-box;
}

html, body {
  background: #ece4d8;
  font: $georgia;
  color: $background;
}

main {
  display: block;
  width: 670px;
  margin: 0 auto;
}

.hide {
  display: none;
}

header {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 600px;
  top: 38px;
  .ribbon-inner {
    position: relative;
    display: block;
    background-color: $light-red;
    border: 4px solid $red;
    padding: 2px;
    z-index: 1;
    h1 {
      background-color: $red;
      font-size: 2.5em;
      font-weight: 800;
      font-style: normal;
      text-transform: uppercase;
      color: $lightgrey;
      text-align: center;
      line-height: 1;
      padding: 14px 20px 0;
      margin: 0;
      font-family: $openSans;
    }
    h2 {
      background-color: $red;
      font: $georgiaItalic;
      color: $pink;
      padding-bottom: 14px;
      margin-top: -3px;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .left-tail {
    left: -31px;
    display: block;
    width: 56px;
    height: 105px;
    background: transparent url(../images/ribbon-tail-sprite.png) 0 0 no-repeat;
    position: absolute;
    bottom: -37px;
    z-index: 0;
  }
  .right-tail {
    right: -31px;
    display: block;
    width: 56px;
    height: 105px;
    background: transparent url(../images/ribbon-tail-sprite.png) 0 0 no-repeat;
    position: absolute;
    bottom: -37px;
    z-index: 0;
    transform: rotateY(180deg);
  }
}

hr {
  border: none;
  outline: none;
  height: 18px;
  background: transparent url(../images/hr.jpg) center center repeat-x;
  margin: 0 0 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

#board {
  padding-bottom: 150px;
  height: 347px;
  position: relative;
  display: block;
  width: 550px;
  margin: -80px auto -150px;
  z-index: 1;
  background: transparent url(../images/bg-ramp.jpg) center 171px no-repeat;

  .inner {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height: auto;
    width: auto;
    span {
      text-decoration: none;
      display: block;
      position: relative;
      width: 275px;
      padding-top: 197px;
      background: transparent url(../images/download-sprite.png) 0 0 no-repeat;
      text-align: center;
      line-height: 1;
      color: $white;
      font-family: $openSans;
      font-weight: 800;
      font-size: 1.3em;
    }
    .left {
      float: left;
      background-position: 0 0;
      &:hover {
        background-position: 0 -197px;
      }
    }
    .right {
      float: right;
      background-position: -275px 0;
      &:hover {
        background-position: -275px -197px;
      }
    }
  }
}

.banner-fix {
  background: transparent url(../images/download-fallback-bg.png) center top no-repeat;
  display: block;
  height: 19px;
  position: absolute;
  width: 670px;
  top: 19px;
}

.basket-box {
  z-index: 2;
  padding: 20px 82px 0;
  min-height: 185px;
  display: block;
  position: relative;
  margin-top: 0;
  .basket-header {
    width: 100%;
    p {
      text-align: right;
      font-size: 1.85em;
      color: $red;
      font-style: italic;
      margin: 1.1em 0 .38em;
      line-height: 1.2;
      padding-bottom: 10px;
      span {
      }
    }
  }
  .basket-sidebar {
    width: 25%;
    float: left;
    ul {
      padding-left: 20px;
      li {
        list-style: none;
        a {
          cursor: pointer;
          p {
            display: inline-block;
            width: 100%;
            position: relative;
            padding-left: 30px;
            font-family: $openSans;
            margin: 20px 0;
            color: $grey;
            &:hover {
              font-weight: 600;
            }
            .material-icons {
              left: 0;
              @include vertical-center;
            }
            &.red {
              color: $red;
            }
            &.blue {
              color: $blue;
            }
          }
        }

      }
    }
  }
  .basket-content {
    width: 75%;
    float: left;
    border-left: 2px solid $light-taupe;
    padding: 20px;
    min-height: 250px;
    h4 {
      margin: 20px 0 10px;
      font-size: 1.45em;
      color: $background;
    }
    ul {
      margin: 10px 0 20px;
      padding: .7em;
      background: $light-background;
      border-bottom: 2px solid $light-taupe;
      font: $lucida;
      overflow: auto;
      color: $blue-grey;
      li {
        list-style: none;
        width: 100%;
        .item-name {
          display: inline-block;
          width: 60%;
        }
        .item-count {
        }
        .item-total-cost {
        }
        span {
          display: inline-block;
          text-align: right;
          width: 20%;
        }
      }

    }
    .total-sum {
      text-align: right;
      margin: .6em 0;
      font-size: 1.2em;
      color: $light-red;
    }
    hr {
      border: none;
      outline: none;
      height: 18px;
      background: transparent url(../images/hr.jpg) center center repeat-x;
      margin: 0 0 20px;
    }
    form {
      label {
      }
      input {
        height: 40px;
        width: 30%;
        margin: 0;
        padding: .3em;
        background: $light-background;
        border-bottom: 2px solid $light-taupe;
        font: $lucida;
        overflow: auto;
      }

    }
    .button {
      cursor: pointer;
      width: 50%;
      float: left;
      display: inline-block;
      padding-left: 30px;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 25px;
      i {
        left: 0;
        @include vertical-center;
      }
    }
  }
}

footer {
  background: transparent url(../images/footer-ramp.jpg) center -1px no-repeat;
  padding-top: 104px;
  margin: -94px auto 40px;
  max-width: 560px;
  text-align: center;
  .ribbon-outer {
    display: block;
    position: relative;
    border-bottom: 2px solid $light-taupe;
    .left-tail {
      display: block;
      width: 18px;
      height: 29px;
      background: transparent url(../images/small-ribbon-tail-sprite.png) 0 0 no-repeat;
      position: absolute;
      bottom: 5px;
      z-index: 0;
      left: -11px;
    }
    .right-tail {
      display: block;
      width: 18px;
      height: 29px;
      background: transparent url(../images/small-ribbon-tail-sprite.png) -18px 0 no-repeat;
      position: absolute;
      bottom: 5px;
      z-index: 0;
      right: -11px;
    }
    .ribbon-inner {
      position: relative;
      display: block;
      background-color: $light-red;
      border: 2px solid $red;
      padding: 1px;
      z-index: 1;

      p {
        background-color: $red;
        margin: 0;
        color: $pink;
        font: $georgiaItalic;
        padding-bottom: 4px;
        padding-top: 4px;
        a {
          position: relative;
          bottom: -1px;
          color: #7eb0d2;
          font-family: $openSans;
          font-style: normal;
          font-weight: 800;
          font-size: 1em;
        }
      }
    }
  }
}

